<div *ngIf="tabList?.length" class="container-fluid">
  <ul class="row tabs nav nav-pills" id="pills-tab" role="tablist">
    <li
      *ngFor="let tab of tabList; let i = index"
      [ngClass]="{
        'col-4': tabList.length === 3,
        'col-6': tabList.length === 2
      }"
      class="col-4 p-0 nav-item tab-link"
      role="presentation"
    >
      <button
        [ngClass]="{ active: selectedTabIndex === i }"
        class="w-100 nav-link tab-section"
        id="pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-home"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
        (click)="onTabSelect(i)"
      >
        {{ tab.name }}
      </button>
    </li>
  </ul>
</div>
