@import "mq";

.login-container {
  height: 100vh;

  .form-container {
    max-width: 400px;
    margin: auto;
  }

  .section-2 {
    background-color: var(--auth-section-two-bg);

    .device-align {
      padding-top: 0%;

      @include mq(md) {
        padding-top: 8%;
      }
    }
  }

  .review-img {
    position: absolute;
    width: 50%;
    left: 10%;
  }

  .restaurnat-card-img {
    position: absolute;
    width: 40%;
    left: 47%;
    top: 3%;

    @include mq(lg) {
      top: 7%;
    }
  }

  .menu-card-img {
    position: absolute;
    top: 13%;
    width: 80%;
    left: 5%;

    @include mq(lg) {
      top: 35%;
    }
  }
}
