.thumbnail-box {
  border: 1px solid var(--box-border-color);
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.thumbnail-box:hover {
  border: 1px solid var(--box-border-hover-color);
  background-color: var(--product-thumbnail-background-hover);
}

.thumbnail-box:focus {
  border: 2px solid var(--box-border-hover-color);
  background-color: var(--product-thumbnail-background-focus);

  .thumbnail-name {
    color: var(--box-border-hover-color);
  }
}
