.secondary-btn {
  background-color: var(--menu-card-one-btn-bg);
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  right: 12px;
  color: var(--menu-card-one-btn-color);
}

.secondary-btn:hover {
  background-color: var(--menu-card-one-btn-bg-hover);
  color: var(--menu-card-one-btn-color-hover);
}
