.primary-btn {
  border: 1px solid var(--primary-btn-border);
  color: var(--primary-btn-text-color);
}

.primary-btn.filled {
  background-color: var(--primary-btn-bg-color-hover);
  color: var(--primary-btn-text-color-hover);
}

.primary-btn:hover {
  background-color: var(--primary-btn-bg-color-hover);
  color: var(--primary-btn-text-color-hover);
}
