<table mat-table [dataSource]="dataSource" matSort>
  <div *ngFor="let column of columns; last as isLast">
    <ng-container *ngIf="!column?.action" [matColumnDef]="column.columnDef">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.header }}
      </th>
      <div [ngSwitch]="column?.type">
        <div *ngSwitchCase="'date'">
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) | date : "d MMM, y" }}
          </td>
        </div>
        <div *ngSwitchCase="'time'">
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) | date : "hh:mm a" }}
          </td>
        </div>
        <div *ngSwitchDefault>
          <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
        </div>
      </div>
    </ng-container>

    <ng-container
      *ngIf="column.action"
      [matColumnDef]="'star'"
      [stickyEnd]="column.stickyEnd"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          [disabled]="!menuItems.length"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngFor="let menu of menuItems"
            (click)="emitAction(menu)"
            mat-menu-item
          >
            <span class="heading-five">{{ menu?.name }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
  </div>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="pagintion-separator">
  <mat-paginator
    *ngIf="isPaginationEnabled"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
