.deal-card {
  border: 2px solid var(--deal-card-border-color);
  border-radius: 16px;

  .deal-separator {
    border-top: 2px solid var(--deal-card-separator);
    margin: 0;
  }

  .deal-details {
    color: #2b2b43;
    font-size: 12px;
    font-weight: bold;
  }

  .type-btn {
    background-color: transparent;
    font-size: 10px;
    border-radius: 16px;
  }

  .active {
    border: 1px solid var(--deal-card-green-btn-color);
    color: var(--deal-card-green-btn-color);
  }

  .scheduled {
    border: 1px solid var(--deal-card-orange-btn-border);
    color: var(--deal-card-orange-btn-color);
  }

  .expired {
    border: 1px solid var(--deal-card-red-btn-color);
    color: var(--deal-card-red-btn-border);
  }
}
