<div class="deal-card w-100 p-3">
  <div class="row">
    <div class="col-7">
      <button
        [ngClass]="{
          active: dealCardDetails.btnType === btnType.ACTIVE,
          scheduled: dealCardDetails.btnType === btnType.SCHEDULED,
          expired: dealCardDetails.btnType === btnType.EXPIRED
        }"
        class="type-btn px-3 py-1 mb-2"
      >
        {{ dealCardDetails.btnType }}
      </button>
      <div class="deal-details">{{ dealCardDetails.name }}</div>
    </div>
    <div class="col-5">
      <img
        class="img-thumbnail"
        [src]="dealCardDetails.imgUrl"
        [alt]="dealCardDetails.imgAlt"
      />
    </div>
  </div>

  <div class="row deal-separator mt-2"></div>
</div>
