.deal-card {
  border: 2px solid var(--deal-card-border-color);
  border-radius: 16px;

  .type-btn {
    border-radius: 16px;
  }

  .active {
    border: 1px solid var(--deal-card-green-btn-color);
    color: var(--deal-card-green-btn-color);
  }

  .scheduled {
    border: 1px solid var(--deal-card-orange-btn-border);
    color: var(--deal-card-orange-btn-color);
  }

  .expired {
    border: 1px solid var(--deal-card-red-btn-color);
    color: var(--deal-card-red-btn-border);
  }

  .deal-details {
    color: var(--deal-card-details-color);
  }

  .deal-separator {
    border-top: 2px solid var(--deal-card-separator);
  }

  .deal-info-header {
    color: var(--deal-card-header-color);
  }

  .validity-info {
    color: var(--deal-card-validity-info-color);
  }

  .clock {
    width: 10px;
  }
}
