@import "mq";

.restaurant-card {
  border: 1px solid var(--box-border-color);
  border-radius: 16px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;

  .restaurant-name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1px;
  }

  .restaurant-img {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
  }

  .delivery-time {
    font-size: 12px;
    font-weight: 500;
    color: var(--restaurant-card-delivery-time-color);

    .clock {
      width: 10px;
    }
  }

  .cart-badge {
    background-color: var(--restaurant-card-cart-badge-bg-color);
    color: var(--restaurant-card-cart-badge-color);
    font-size: 8px;
    right: 30%;

    @include mq(lg) {
      right: 44%;
    }
  }

  .product-badge {
    display: flex;
    background-color: var(--restaurant-card-item-badge-bg-color);
    justify-content: center;
    border-radius: 16px;
    padding: 8px 16px;

    img {
      height: 14px;
      margin-top: 2px;
    }

    .badge-name {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.blue-dot {
  width: 3px;
  height: 3px;
  display: inline-block;
  border-radius: 100%;
  background-color: var(--restaurant-card-time-separator-color);
}
