<div
  class="selection-card container-fluid pe-cursor"
  [tabIndex]="selectionDetails.id"
  [ngClass]="{ selected: isSelected }"
  (click)="emitEvent(selectionDetails.id)"
>
  <div class="row p-2">
    <div class="col-12 pe-0">
      <div class="position-relative">
        <label class="heading-five">{{ selectionDetails.name }}</label>
        <app-kebab-action
          *ngIf="isActionEnabled"
          [actionList]="actionList"
          [id]="selectionDetails.id"
          [prefix]="'category_'"
          (selectedActionEvent)="emitActionEvent($event)"
        ></app-kebab-action>
      </div>
      <div>
        <label class="description f-12"
          >{{ selectionDetails.numberOfItems || 0 }} items</label
        >
      </div>
    </div>
  </div>
</div>
