.new-payment-card-box {
  border: 1px solid var(--box-border-2-color);
  border-radius: 10px;
  min-height: 93px;

  app-add-icon {
    background-color: var(--icons-bg-color);
    border-radius: 50%;
    padding: 3.5px 8px 7px 8px !important;

    &:hover {
      background-color: var(--icons-bg-selected-color);
    }
  }

  .selected {
    background-color: var(--icons-bg-selected-color);
  }
}
