.danger-btn {
  border: 1px solid var(--danger-btn-border);
  color: var(--danger-btn-text-color);
}

.danger-btn:hover {
  background-color: var(--danger-btn-bg-color-hover);
  color: var(--danger-btn-text-color-hover);
}
