<div class="fw-500 switches-container">
  <input
    type="radio"
    id="switchDelivery"
    name="switchPlan"
    value="Delivery"
    checked="checked"
  />
  <input type="radio" id="switchPickUp" name="switchPlan" value="PickUp" />
  <label for="switchDelivery" (click)="emitSelectedSection('delivery')"
    >Delivery</label
  >
  <label for="switchPickUp" (click)="emitSelectedSection('pickup')"
    >Pick up</label
  >
  <div class="switch-wrapper">
    <div class="switch">
      <div>Delivery</div>
      <div>Pick up</div>
    </div>
  </div>
</div>
