.dropdown {
  border: 1px solid var(--primary-select-border);
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-select-text-color);
  position: relative;
  background-color: transparent;
  border-radius: 6px;

  select {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
  }
}

.dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
