.card-body {
  .comment {
    letter-spacing: 0.3px;
  }

  .like-img {
    width: 32px;
  }

  .dislike-img {
    width: 32px;
    transform: rotate(180deg);
  }

  .review-like-count {
    color: var(--review-rating-like-dislike-num-color);
  }
}

.card-separator {
  border-bottom: 1px solid var(--review-rating-separator);
}
