label {
  color: hsl(235deg 8.87% 33.99%);
  letter-spacing: 0.3px;
  margin-bottom: 2px;
}

input {
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.3px;
  padding: 10px;
  outline: none;
  border: 1px solid hsl(228, 6%, 90%);
}

input[type="text"]:focus {
  border: 1px solid blue;
}
