label {
  color: var(--label-6);
  letter-spacing: 0.3px;
  margin-bottom: 2px;
}

input {
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.3px;
  padding: 10px;
  outline: none;
  color: var(--input-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border);
}

.disabled {
  background-color: var(--input-disbled-background-color);
  color: var(--input-disbled-color);
  border-color: var(--input-disbled-border-color);
}

input[type="text"]:focus {
  border: 1px solid var(--input-border-focused);
}
