.address-card-box {
  border: 1px solid var(--address-card-box-border);
  border-radius: 10px;

  img {
    border-radius: 10px;
  }

  .country {
    color: var(--label-2);
  }

  .add-1 {
    color: var(--label-4);
  }

  .add-2 {
    color: var(--label-1);
  }
}
