<div
  *ngIf="address?.id"
  [ngClass]="{
    selected: isSelectEnabled && isSelected,
    'pe-cursor': isSelectEnabled
  }"
  class="container-fluid address-card-box p-2"
  (click)="emitEvent(address.id)"
>
  <div class="row">
    <div class="col-3 pe-0">
      <img class="w-100 h-100" [src]="address.img" [alt]="address.imgAlt" />
    </div>
    <div class="col-9">
      <div class="heading-five position-relative">
        {{ address.city }}
        <span *ngIf="isActionEnabled" class="float-end">
          <img
            src="./../../../assets/icons/kebab.svg"
            alt="action"
            (click)="toggleAction(address.id)"
          />
          <div class="action hidden" [attr.id]="address.id">
            <ul>
              <li>Update</li>
              <li>Delete</li>
            </ul>
          </div>
        </span>
      </div>
      <div class="f-12 fw-500 add-1">
        {{ address.state }} State, {{ address.country }}
      </div>
      <div class="f-12 fw-500 mt-2 add-2">
        {{ address.address1 }} {{ address.address2 }},
        {{ address.pinCode }}
      </div>
    </div>
  </div>
</div>
