<div class="container-fluid mb-3 py-3 reviews-box">
  <div class="row pb-3 review-header-separator">
    <div class="col-7">
      <div class="f-12 fw-bold">Overall Rating</div>
      <div>
        <span class="f-18 fw-500 rating-num">4.2</span
        ><span class="mx-2"
          ><app-rating
            [maxRating]="5"
            [currentRating]="selectedRating"
          ></app-rating>
        </span>
        <span class="fw-bold f-12">3 Votes</span>
      </div>
    </div>
    <div class="col-5 ps-0 text-end">
      <app-button
        [label]="'Leave Review'"
        (btnClick)="reviewBtnClick($event)"
      ></app-button>
    </div>
  </div>
  <div class="mt-3" *ngFor="let review of reviews">
    <app-review-card [reviewDetails]="review"></app-review-card>
  </div>
</div>
