.heading-two:hover {
  text-decoration: underline;
}

.revenue-chart {
  border: 1px solid var(--box-border-color);
  height: 500px;
  width: 100%;
}

.popular-meals {
  border: 1px solid var(--box-border-color);
  border-radius: 16px;
  padding: 16px;
}

.meal-img {
  border-radius: 8px;
}

.orders-count {
  color: var(--label-2);
}

.price {
  color: var(--popular-meals-price-color);
}
