<div class="login-container row mx-0">
  <div class="col-12 col-md-5 px-3 px-md-5">
    <div [formGroup]="loginForm" class="form-container pt-4 pt-md-5">
      <a class="navbar-brand pe-cursor" [routerLink]="''">
        <div class="mb-0 app-first-name">Food</div>
        <div class="app-last-name">Delivery</div>
      </a>
      <div class="heading-zero f-32 mt-3 mt-lg-5">Login</div>
      <div class="heading-five-normal mt-4">
        Sign in with your data that you entered during your registration.
      </div>
      <div class="mt-4">
        <app-input formControlName="email" [label]="'Email'"></app-input>
      </div>
      <div class="mt-3">
        <app-input formControlName="password" [label]="'Password'"></app-input>
      </div>
      <div class="mt-3">
        <app-input-checkbox
          formControlName="keepSignedIn"
          [label]="'Keep me logged in'"
        ></app-input-checkbox>
      </div>
      <div class="mt-4">
        <button
          class="w-100 mb-3"
          [disabled]="loginForm.invalid"
          (click)="login()"
          appPrimaryFilledButton
        >
          Login
        </button>
      </div>
      <div class="mt-3 mt-md-4 text-center">
        <a [routerLink]="['/' + appRoutes.FORGET_PASSWORD]" class="app-link"
          >Forget password</a
        >
      </div>
      <div class="mt-4 mt-md-5 text-center">
        <span class="heading-five-normal"
          >Don't have an account?
          <a [routerLink]="['/' + appRoutes.REGISTRATION]" class="app-link"
            >Sign up</a
          ></span
        >
      </div>
      <div *ngIf="true" class="row mt-4">
        <div class="col-12 col-md-6">
          <button
            class="w-100 mb-3"
            (click)="setLoginForm('admin')"
            appPrimaryFilledButton
          >
            Admin
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button
            class="w-100 mb-3"
            (click)="setLoginForm('restaurant')"
            appPrimaryFilledButton
          >
            Restaurant
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button
            class="w-100 mb-3"
            (click)="setLoginForm('customer')"
            appPrimaryFilledButton
          >
            Customer
          </button>
        </div>
        <div class="col-12 col-md-6">
          <button
            class="w-100 mb-3"
            (click)="setLoginForm('delivery')"
            appPrimaryFilledButton
          >
            Delivery
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 d-none d-md-flex px-0 section-2">
    <div class="container device-align text-center position-relative">
      <div class="row">
        <div class="col-7">
          <img class="review-img" src="./../../assets/reviews.png" alt="" />
        </div>
        <div class="col-5">
          <img
            class="restaurnat-card-img"
            src="./../../assets/squared.png"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img
            class="menu-card-img img-fluid"
            src="./../../assets/horizontal.png"
            alt=""
          />
        </div>
      </div>

      <div class="row review">
        <div class="col-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-caption d-none d-md-block">
              <h5>Leave review for all meals</h5>
              <p>
                Lorem insum sit amet, magna scaevola his ei. Cum te paulo
                probatus molestae, eirmod assentior eum ne, et omnis antiopam
                mel.
              </p>
            </div>
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active carousel-btn"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
                class="carousel-btn"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
                class="carousel-btn"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
