.near-by-restaurants-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.near-by-restaurants-header:hover {
  text-decoration: underline;
}

.load-btn {
  border: 1px solid var(--load-more-btn-border);
  font-size: 14px;
  font-weight: bold;
  color: var(--load-more-btn-text-color);
  padding: 8px 16px;
}
