<app-offer-card></app-offer-card>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
<p>landing works!</p>
