<div class="container pb-4">
  <div class="row pt-3 pt-lg-4">
    <div class="col-12">
      <span class="heading-two pe-cursor">Orders</span>
    </div>
  </div>

  <div class="row mt-3 mt-md-4">
    <div class="col-12">
      <app-tabs
        [tabList]="sectionList"
        (selectedTab)="getSelectedPromotion($event)"
      ></app-tabs>
    </div>
  </div>

  <div class="table-container mt-4">
    <table class="table">
      <thead class="pe-cursor">
        <tr class="f-14">
          <th
            class="ps-3 ps-md-4 ps-lg-5"
            (click)="onSortClick(deliveryOrdersKeys.ORDER_ID, 'number')"
            scope="col"
          >
            Id
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.FIRST_NAME, 'string')"
            scope="col"
          >
            Name
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.ADDRESS_1, 'string')"
            scope="col"
          >
            Address
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.ORDER_DATE, 'date')"
            scope="col"
          >
            Creation date
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.ORDER_DATE, 'date')"
            scope="col"
          >
            Creation time
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.STATUS, 'string')"
            scope="col"
          >
            Status
          </th>
          <th
            (click)="onSortClick(deliveryOrdersKeys.TOTAL_AMOUNT, 'string')"
            scope="col"
          >
            Total amount
          </th>
        </tr>
      </thead>
      <tbody class="pe-cursor">
        <tr
          class="f-12"
          *ngFor="let deliveryOrders of ordersList"
          (click)="navigateToAdminDetails(deliveryOrders.orderId)"
        >
          <td class="fw-500 ps-md-4 ps-lg-5" data-label="OrderId">
            {{ deliveryOrders.orderId }}
          </td>
          <td data-label="Orders">
            {{ deliveryOrders.firstName }}
            {{ deliveryOrders.lastName }}
          </td>
          <td data-label="Orders">
            {{ deliveryOrders.addressOne }}{{ deliveryOrders.addressTwo
            }}{{ deliveryOrders.city }}
          </td>
          <td data-label="Orders">
            {{ deliveryOrders.orderDate | date : "d MMM, y" }}
          </td>
          <td data-label="Orders">
            {{ deliveryOrders.orderDate | date : "hh:mm a" }}
          </td>
          <td data-label="Orders">
            <span
              [ngClass]="{
                completed: deliveryOrders.status === orderStatusEnum.DELIVERED,
                cancelled: deliveryOrders.status === orderStatusEnum.PENDING,
                'in-progress':
                  deliveryOrders.status === orderStatusEnum.READY ||
                  deliveryOrders.status === orderStatusEnum.PICKED_UP ||
                  deliveryOrders.status === orderStatusEnum.PREPARING ||
                  deliveryOrders.status === orderStatusEnum.ACCEPTED
              }"
              class="dot me-2"
            ></span>
            {{ deliveryOrders.status }}
          </td>
          <td data-label="Total amount">$ {{ deliveryOrders.totalAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
