<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="mb-3">
        <span class="heading-two">Category menu</span>
      </div>
      <div class="row mb-3">
        <div
          class="col-12 col-md-6 col-lg-12 mb-2"
          *ngFor="let category of categoryList"
        >
          <app-selection-card
            [selectionDetails]="category"
            [isSelected]="selectedCategoryId === category.id"
            (selectedCardEvent)="selectCategory($event)"
          ></app-selection-card>
        </div>
        <div class="col-6 mt-2">
          <app-add-new-card
            [label]="'New category'"
            (onClickEvent)="open(demoModal)"
          ></app-add-new-card>
        </div>
        <div class="col-6 mt-2">
          <app-add-new-card
            [label]="'New menu'"
            (onClickEvent)="open(demoModal)"
          ></app-add-new-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="mb-3">
        <span class="heading-two">{{ getNameById(selectedCategoryId) }}</span>
      </div>
      <div>
        <div
          class="mb-3"
          *ngFor="let item of getItemListById(selectedCategoryId)"
        >
          <app-menu-item-card-two [menuItem]="item"></app-menu-item-card-two>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            name="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            type="button"
            class="btn btn-outline-secondary bi bi-calendar"
            (click)="dp.toggle()"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
