<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="mb-3">
        <span class="heading-two">Category menu</span>
      </div>
      <div class="row mb-3">
        <div
          class="col-12 col-md-6 col-lg-12 mb-2"
          *ngFor="let category of categoryList"
        >
          <app-selection-card
            [selectionDetails]="category"
            [isActionEnabled]="true"
            [actionList]="actionList"
            [isSelected]="selectedCategoryId === category.id"
            (selectedCardEvent)="selectCategory($event)"
            (selectedActionEvent)="action($event, categoryModal)"
          ></app-selection-card>
        </div>
        <div class="col-6 mt-2">
          <app-add-new-card
            [label]="'New category'"
            (onClickEvent)="openNewCategoryModal(categoryModal)"
          ></app-add-new-card>
        </div>
        <div class="col-6 mt-2">
          <app-add-new-card
            [label]="'New menu'"
            (onClickEvent)="openNewMenuModal(menuModal)"
          ></app-add-new-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="mb-3">
        <span class="heading-two">{{ getNameById(selectedCategoryId) }}</span>
      </div>
      <div>
        <div
          class="mb-3"
          *ngFor="let item of getItemListById(selectedCategoryId)"
        >
          <app-menu-item-card-two [menuItem]="item"></app-menu-item-card-two>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #categoryModal let-modal>
  <div class="modal-header">
    <h4 class="heading-two" id="modal-basic-title">
      {{ actionLabel }} category
    </h4>
    <button
      type="button"
      class="btn-close m-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div><app-input [label]="'Category name'"></app-input></div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Save click')" appTransparentFilledButton>
      Save
    </button>
  </div>
</ng-template>

<ng-template #menuModal let-modal>
  <div class="modal-header">
    <h4 class="heading-two" id="modal-basic-title">{{ actionLabel }} menu</h4>
    <button
      type="button"
      class="btn-close m-0"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div><app-input [label]="'Menu name'"></app-input></div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Save click')" appTransparentFilledButton>
      Save
    </button>
  </div>
</ng-template>
