<div class="forget-password-container row mx-0">
  <div class="col-12 col-md-5 px-3 px-md-5">
    <div [formGroup]="forgetPasswordForm" class="form-container pt-4 pt-md-5">
      <a class="navbar-brand pe-cursor" [routerLink]="''">
        <div class="mb-0 app-first-name">Food</div>
        <div class="app-last-name">Delivery</div>
      </a>
      <div
        class="col-12 f-12 fw-bold mt-3 mt-md-4 mt-lg-5"
        (click)="navigateToPage('login')"
      >
        <img src="./../../assets/chevron-left.svg" alt="back" />
        <span class="back-label pe-cursor"> Back to login</span>
      </div>
      <div class="heading-zero mt-3 f-32">Forget password</div>
      <div class="heading-five-normal mt-4">
        Enter the email associated with your account and we'll send and email
        with instructions to reset your password.
      </div>
      <div class="mt-4">
        <app-input formControlName="email" [label]="'Email'"></app-input>
      </div>
      <div class="mt-4">
        <button
          class="w-100 mb-3"
          (click)="navigateToPage('')"
          appPrimaryFilledButton
        >
          Send instructions
        </button>
      </div>
      <div class="mt-4 mt-md-5 text-center">
        <span class="heading-five-normal"
          >Do you have any questions?
          <a [routerLink]="['/' + appRoutes.REGISTRATION]" class="app-link"
            >FAQ</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="col-md-7 d-none d-md-flex px-0 section-2">
    <div class="container device-align text-center position-relative">
      <div class="row">
        <div class="col-7">
          <img class="review-img" src="./../../assets/reviews.png" alt="" />
        </div>
        <div class="col-5">
          <img
            class="restaurnat-card-img"
            src="./../../assets/squared.png"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img
            class="menu-card-img img-fluid"
            src="./../../assets/horizontal.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
