@import "mq";

.forget-password-container {
  height: 100vh;

  .form-container {
    max-width: 400px;
    margin: auto;
  }

  .section-2 {
    background-color: var(--auth-section-two-bg);

    .device-align {
      padding-top: 0%;

      @include mq(md) {
        padding-top: 8%;
      }
    }
  }

  .review {
    position: absolute;
    top: 50%;
    width: 100%;

    @include mq(lg) {
      top: 90%;
    }
  }

  .carousel-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .review-img {
    position: absolute;
    height: 25%;
    left: 14%;

    @include mq(lg) {
      height: 60%;
    }
  }

  .restaurnat-card-img {
    position: absolute;
    width: 40%;
    left: 42%;
    top: 3%;

    @include mq(lg) {
      top: 22%;
    }
  }

  .menu-card-img {
    position: absolute;
    top: 15%;
    width: 80%;
    left: 12%;

    @include mq(lg) {
      top: 45%;
    }
  }
}
