<div class="container-fluid py-3 address-info-container">
  <section>
    <div class="row mb-3">
      <div class="col-12 fw-bold">Existing shipping address</div>
    </div>
    <div class="row">
      <div *ngFor="let address of addressList" class="col-12 col-md-6 mb-3">
        <app-address-card
          [address]="address"
          [isSelectEnabled]="true"
          [isSelected]="selectedAddressId === address.id"
          (selectedCardEvent)="selectAddress($event)"
        ></app-address-card>
      </div>
    </div>
  </section>

  <section class="mb-3">
    <div class="row mb-3">
      <div class="col-12 fw-bold">New shipping address</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-2">
        <app-input [label]="'Country'"></app-input>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <app-input [label]="'State'"></app-input>
      </div>
      <div class="col-12 col-md-4 mb-2">
        <app-input [label]="'City'"></app-input>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <app-input [label]="'Address line 1'"></app-input>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <app-input [label]="'Address line 2'"></app-input>
      </div>
    </div>
  </section>

  <section>
    <div class="row pt-3 text-end">
      <div class="col-12">
        <button appTransparentFilledButton>Add new address</button>
      </div>
    </div>
  </section>
</div>
