<div *ngIf="restaurantDetails?.id" class="restaurant-details-header py-4">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-12 col-lg-8 d-flex align-items-center mb-3 mb-lg-0">
          <div class="row">
            <div class="col-4 col-md-3">
              <div class="restaurant-thumbnail">
                <img
                  class="img-fluid"
                  [src]="restaurantDetails.thumbnailImage.imgUrl"
                  [alt]="restaurantDetails.thumbnailImage.imgAlt"
                />
              </div>
            </div>
            <div class="col-8 col-md-9">
              <div class="heading-one">{{ restaurantDetails.name }}</div>
              <div class="f-14 mt-2">{{ restaurantDetails.about }}</div>
              <div class="delivery-time mt-3 d-flex align-items-center">
                <span
                  ><img
                    class="clock"
                    src="./../../../../assets/restaurant-details/clock.svg"
                    alt="Clock"
                /></span>
                <span class="ms-1 mt-1">{{
                  restaurantDetails.deliveryTime
                }}</span>
                <span class="ms-3 blue-dot"></span>
                <span class="ms-2 mt-1">{{
                  restaurantDetails.minimumPrice
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <img
            class="img-fluid location-image"
            [src]="restaurantDetails.locationImage.imgUrl"
            [alt]="restaurantDetails.locationImage.imgAlt"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="mb-3">
        <span
          [ngClass]="{ active: activeSlideName === 'menu' }"
          class="body-header-text deactive pe-cursor"
          (click)="onSlideChange('menu')"
          >Menu</span
        >
        <span
          [ngClass]="{ active: activeSlideName === 'reviews' }"
          class="body-header-text deactive pe-cursor ms-3 d-inline-block d-lg-none"
          (click)="onSlideChange('reviews')"
          >Reviews</span
        >
      </div>
      <ng-container *ngIf="activeSlideName === 'menu'">
        <div
          class="container-fluid mb-3"
          *ngFor="let menu of restaurantDetails.menuItemList"
        >
          <app-menu-item-card-one [menuItem]="menu"></app-menu-item-card-one>
        </div>
      </ng-container>
      <div *ngIf="activeSlideName === 'reviews'" class="d-block d-lg-none">
        <app-restaurant-reviews
          [reviews]="restaurantDetails.reviews"
        ></app-restaurant-reviews>
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4">
      <div class="mb-3">
        <span class="body-header-text pe-cursor">Reviews</span>
      </div>
      <app-restaurant-reviews
        [reviews]="restaurantDetails.reviews"
      ></app-restaurant-reviews>
    </div>
  </div>
</div>
