<div class="container-fluid py-3 payment-info-container">
  <section>
    <div class="row mb-3">
      <div class="col-12 fw-bold">Connected payment methods</div>
    </div>
    <div class="row">
      <div *ngFor="let payment of paymentList" class="col-12 col-md-6 mb-3">
        <app-payment-card
          [payment]="payment"
          [isActionEnabled]="true"
          [isSelectEnabled]="true"
          [isSelected]="selectedPaymentId === payment.id"
          (selectedCardEvent)="selectPayment($event)"
        ></app-payment-card>
      </div>
    </div>
  </section>

  <section class="mb-3">
    <div class="row mb-3">
      <div class="col-12 fw-bold">New payment method</div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <app-input [label]="'Card number'"></app-input>
      </div>
      <div class="col-12 col-md-3 mb-2">
        <app-input [label]="'Expiration'"></app-input>
      </div>
      <div class="col-12 col-md-3 mb-2">
        <app-input [label]="'CVC'"></app-input>
      </div>
      <div class="col-12 col-md-12 mb-2">
        <app-input [label]="'Cardholder name'"></app-input>
      </div>
    </div>
  </section>

  <section>
    <div class="row pt-3 text-end">
      <div class="col-12">
        <button appTransparentFilledButton>Add new payment method</button>
      </div>
    </div>
  </section>
</div>
