.heading-two:hover {
  text-decoration: underline;
}

.load-btn {
  border: 1px solid var(--load-more-btn-border);
  font-size: 14px;
  font-weight: bold;
  color: var(--load-more-btn-text-color);
  padding: 8px 16px;
}
