<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-8 mb-3">
      <span class="heading-two deactive pe-cursor">My cart</span>
    </div>
    <div class="col-12 col-lg-4"></div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="cart-box">
        <div
          class="container-fluid"
          *ngFor="let menu of restaurantDetails.menuItemList; last as isLast"
        >
          <app-cart-menu-card
            [menuItem]="menu"
            [isLast]="isLast"
          ></app-cart-menu-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row container-fluid">
        <div class="col-12 mt-3 mt-lg-0 pt-3 address-box">
          <div class="mb-3">
            <app-toggle
              (selectedSection)="onSectionSelect($event)"
            ></app-toggle>
          </div>
          <p class="fw-500 f-12 mb-2 select-heading">
            {{
              activeSlideName === "delivery"
                ? "Select your shipping address"
                : "Restaurant address"
            }}
          </p>
          <ng-container *ngIf="activeSlideName === 'delivery'">
            <div *ngFor="let address of addressList" class="mb-3">
              <app-address-card [address]="address"></app-address-card>
            </div>
            <button class="w-100 mb-3" appTransparentFilledButton>
              Add new shipping address
            </button>
          </ng-container>

          <ng-container *ngIf="activeSlideName === 'pickup'">
            <img
              class="img-fluid pick-up-location mb-2"
              src="./../../assets/location.png"
              alt="location"
            />
            <div class="f-14 fw-bold country">San Deigo</div>
            <div class="f-12 fw-500 add-1">California State, USA</div>
            <div class="f-12 fw-500 mt-2 add-2 mb-3">
              {{ "3891 Ranchview Dr." }} {{ "Richardson" }},
              {{ "62639" }}
            </div>
          </ng-container>
        </div>

        <div class="col-12 pt-3 mt-3 payment-box">
          <div class="col-12 fw-bold mb-3">Payment summary</div>
          <div class="fw-500 f-14">
            <div class="opposite-direction mb-2">
              <span class="light-label">Subtotal</span
              ><span class="dark-label">$129.40</span>
            </div>
            <div class="opposite-direction mb-3">
              <span class="light-label">Shipping</span
              ><span class="dark-label">$20.00</span>
            </div>
            <div class="opposite-direction mb-3">
              <span class="dark-label">Total (tax incl.)</span
              ><span class="fw-bold total-price">$149.40</span>
            </div>
          </div>
          <button class="w-100 mb-3" appPrimaryFilledButton>
            Proceed to checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
