<div class="header-container">
  <nav class="container navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand pe-cursor" (click)="navigateToPage('')">
        <div class="mb-0 app-first-name">Food</div>
        <div class="app-last-name">Delivery</div>
      </a>
      <button
        class="border-0 mobile-hamberger d-block d-sm-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleHamburger()"
      >
        <div class="hamburger" id="hamburger-9">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-bar-list mb-2 mb-lg-0 ms-auto">
          <li class="nav-item me-0 me-md-2 me-lg-3 pe-cursor">
            <a
              tabindex="1"
              class="nav-link header-nav-link fw-bold"
              aria-current="page"
              [routerLink]="[appRoutes.SUPER_ADMIN.CHILD_ROUTES.ADMINS]"
              >Admins</a
            >
          </li>
          <li class="nav-item me-0 me-md-2 me-lg-3 pe-cursor">
            <a
              tabindex="1"
              class="nav-link header-nav-link fw-bold"
              [routerLink]="[appRoutes.SUPER_ADMIN.CHILD_ROUTES.REGISTER]"
              (click)="setAction()"
              >Register</a
            >
          </li>
          <div class="row w-100 d-block d-md-none">
            <div class="col-12 text-center">
              <li class="nav-item me-0 me-md-2 me-lg-3 pe-cursor">
                <div
                  (click)="navigateToPage(appRoutes.CART)"
                  class="ps-1 float-end logout-img-container position-relative"
                >
                  <img
                    class="logout-img"
                    [src]="logout.img"
                    [alt]="logout.imgAlt"
                  />
                </div>
              </li>
            </div>
          </div>
          <li
            class="d-none d-md-block nav-item me-0 me-md-2 me-lg-3 mb-3 mb-md-0 mt-2 mt-md-0 pe-cursor"
          >
            <div
              (click)="navigateToPage(appRoutes.LOGIN)"
              [ngClass]="{ selected: selectedRoute === 'notification' }"
              class="ps-1 logout-img-container position-relative"
            >
              <img
                class="logout-img"
                [src]="logout.img"
                [alt]="logout.imgAlt"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
