/* You can add global styles to this file, and also import other style files */
@import "dark";
@import "light";
@import "modal";

.pe-cursor {
  cursor: pointer !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-32 {
  font-size: 32px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.opposite-direction {
  display: flex;
  justify-content: space-between;
}

.heading-zero {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-one {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-two {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-three {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-four {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-five-normal {
  font-size: 14px;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-five {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: var(--label-2);
}

.heading-six {
  font-size: 12px;
  font-weight: 500;
  color: var(--label-2);
}

.b-heading-six {
  font-size: 12px;
  font-weight: bold;
  color: var(--label-2);
}

.app-link {
  color: var(--app-link);
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: bold;
}

.primary-btn {
  border: 1px solid var(--primary-btn-border);
  color: var(--primary-btn-text-color);
  background-color: var(--primary-btn-bg-color);
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.primary-btn:hover {
  background-color: var(--primary-btn-bg-color-hover);
  color: var(--primary-btn-text-color-hover);
}

.primary-filled-btn {
  background-color: var(--primary-filled-btn-bg);
  color: var(--primary-filled-btn-color);
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.primary-filled-btn:disabled {
  background-color: var(--primary-filled-btn-bg-hover);
  color: var(--primary-filled-btn-color-hover);
}

.transparent-filled-btn {
  background-color: var(--transparent-filled-btn-bg);
  color: var(--transparent-filled-btn-color);
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.transparent-filled-btn:hover {
  background-color: var(--transparent-filled-btn-bg-hover);
  color: var(--transparent-filled-btn-color-hover);
}

.danger-btn {
  border: 1px solid var(--danger-btn-border);
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-bg-color);
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
}

.danger-btn:hover {
  background-color: var(--danger-btn-bg-color-hover);
  color: var(--danger-btn-text-color-hover);
}

// common css

.app-first-name {
  color: var(--app-first-name);
  font-size: 15px;
  font-weight: bold;
}

.app-last-name {
  color: var(--app-last-name);
  font-size: 15px;
  font-weight: bold;
}

.back-label {
  padding-top: 6px;
  color: var(--label-1);

  &:hover {
    border-bottom: 2px solid var(--checkout-back-underline-color);
  }
}

.blue-dot {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background-color: var(--restaurant-card-time-separator-color);
}
