.all-my-orders-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  cursor: default;
}

.all-my-orders-header:hover {
  text-decoration: underline;
}

table {
  border: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 1px 5px var(--order-border-box-shadow-color);
  thead > tr {
    border-bottom: 2px solid var(--order-table-head-border-color);
  }
  thead > tr > th {
    line-height: 60px !important;
  }
  tbody > tr {
    border-bottom: 1px solid var(--order-table-head-border-color);
  }
  tbody > tr > td {
    line-height: 60px !important;
    padding: 0 10px;

    .dot {
      height: 5px;
      width: 5px;
      border-radius: 50%;
      display: inline-block;
    }

    .completed {
      background-color: var(--order-completed-status-color);
    }

    .in-progress {
      background-color: var(--order-in-progress-status-color);
    }

    .cancelled {
      background-color: var(--order-cancelled-status-color);
    }
  }
}
