@import "mq";

.card-box {
  border-radius: 16px;
  height: 304px;

  @include mq(lg) {
    height: 204px;
  }

  .card-header {
    letter-spacing: 0.1px;
    font-size: 20px;
    color: var(--offer-card-header-color);
    font-weight: 500;
  }

  .card-offer {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1px;
  }

  .card-image {
    bottom: 0px;
    height: 188px;
  }

  .offer-section {
    @include mq(lg) {
      position: relative;
    }
  }

  .type {
    bottom: 16px;

    @include mq(lg) {
      position: absolute;
    }
  }
}

.spicy-box {
  background-color: var(--offer-card-spicy-bg);
  .card-offer {
    color: var(--offer-card-spicy-offer-color);
  }
}

.sweet-box {
  background-color: var(--offer-card-sweet-bg);
  .card-offer {
    color: var(--offer-card-sweet-offer-color);
  }
}
