<div
  [ngClass]="{
    'spicy-box': cardDetails.type === 'spicy',
    'sweet-box': cardDetails.type === 'sweet'
  }"
  class="row mx-2 pt-3 mt-4 px-3 card-box flex-column-reverse flex-lg-row"
>
  <div class="col-12 col-lg-6 position-relative">
    <img
      class="card-image position-lg-absolute"
      [src]="cardDetails.offerCardImage"
      [alt]="cardDetails.offerCardImageAlt"
    />
  </div>
  <div class="col-12 col-lg-6 ps-0 ps-lg-4 offer-section">
    <div class="row">
      <div class="col-8 col-lg-12">
        <div class="card-header">{{ cardDetails.offerCardHeader }}</div>
        <div class="card-offer">{{ cardDetails.offer }}</div>
      </div>
      <div class="col-4 col-lg-12 type text-end">
        {{ cardDetails.typeLabel }}
      </div>
    </div>
  </div>
</div>
