.footer-container {
  background-color: var(--footer-bg);
  border-top: 2px solid var(--separator-color);

  .app-first-name {
    color: var(--footer-app-first-name);
    font-size: 20px;
  }

  .app-last-name {
    color: var(--footer-app-last-name);
    font-size: 18px;
  }

  .social-media-icons {
    margin-top: 12px;
    img {
      background-color: var(--footer-social-media-bg-color);
      padding: 8px;
      border-radius: 40%;
    }
  }

  .footer-header {
    color: var(--footer-header-color);
    font-size: 15px;

    .footer-url {
      font-size: 14px;
      color: var(--footer-url-color);
    }
  }

  .copy-right-section {
    font-size: 14px;
    color: var(--footer-url-color);
    a {
      font-weight: 500;
      color: var(--footer-url-color);
    }
  }
}
