.footer-container {
  background-color: var(--footer-bg);
  border-top: 2px solid var(--separator-color);

  .purple {
    // filter: brightness(0) invert(1);
    filter: brightness(0%);
    border: 1px solid white;
    padding: 8px;
    border-radius: 100%;
    background-color: white;
  }

  .app-first-name {
    color: var(--footer-app-first-name);
    font-size: 20px;
  }

  .app-last-name {
    color: var(--footer-app-last-name);
    font-size: 18px;
  }

  .footer-header {
    color: var(--footer-header-color);
    font-size: 15px;

    .footer-url {
      font-size: 14px;
      color: var(--footer-url-color);
    }
  }

  .copy-right-section {
    font-size: 14px;
    color: var(--footer-url-color);
    a {
      font-weight: 500;
      color: var(--footer-url-color);
    }
  }
}
