<div class="pb-4">
  <div class="row pt-3 pt-lg-4">
    <div class="col-12">
      <span class="heading-two pe-cursor">Admin List</span>
    </div>
  </div>

  <div class="table-container mt-4">
    <table class="table">
      <thead class="pe-cursor">
        <tr class="f-14">
          <th
            class="ps-3 ps-md-4 ps-lg-5"
            (click)="onSortClick(adminKeys.ID, 'number')"
            scope="col"
          >
            Id
          </th>
          <th (click)="onSortClick(adminKeys.NAME, 'string')" scope="col">
            Name
          </th>
          <th (click)="onSortClick(adminKeys.USER_NAME, 'date')" scope="col">
            User Name
          </th>
          <th scope="col">Password</th>
          <th (click)="onSortClick(adminKeys.TOKEN, 'string')" scope="col">
            Token
          </th>
          <th (click)="onSortClick(adminKeys.STATUS, 'string')" scope="col">
            Status
          </th>
          <th (click)="onSortClick(adminKeys.CREATED_ON, 'string')" scope="col">
            Created On
          </th>
          <th
            (click)="onSortClick(adminKeys.LAST_UPDATED_ON, 'string')"
            scope="col"
          >
            Last Updated On
          </th>
        </tr>
      </thead>
      <tbody class="pe-cursor">
        <tr
          class="f-12"
          *ngFor="let admin of adminList"
          (click)="navigateToAdminDetails(admin.id)"
        >
          <td class="fw-500 ps-md-4 ps-lg-5" data-label="id">
            {{ admin.id }}
          </td>
          <td data-label="Restaurant">
            {{ admin.name }}
          </td>
          <td data-label="Restaurant">
            {{ admin.userName }}
          </td>
          <td data-label="Restaurant">
            {{ admin.password }}
          </td>
          <td data-label="Restaurant">
            {{ admin.token }}
          </td>
          <td class="fw-500" data-label="Status">
            <span
              [ngClass]="{
              active: admin.status === 'Active',
              deactive: admin.status === 'Deactive',
            }"
              class="dot me-2"
            ></span
            >{{ admin.status }}
          </td>
          <td data-label="Creation Date">
            {{ admin.createdOn | date : "d MMM, y" }}
          </td>
          <td data-label="Creation Time">
            {{ admin.lastUpdatedOn | date : "d MMM, y" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
